# standard ignore
*config*
*conf*
LICENSE
NOTICE

.github/
.gitignore
.eslintrc
.stylelintrc

coverage/
docs/
scripts/
test/
demo/**/*.css
demo/**/*.scss
demo/**/*.html

dist/es5.js
dist/auro-combobox.js
dist/style-css.js
dist/style-fixed-css.js

demo/api.js
demo/index.js

apiExamples/
docTemplates/

CHANGELOG.md

index.html

# ignore src
src/**/*.scss
src/**/*.css
